body {
  margin: 0;
  overflow-x: hidden;
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.conte_loader_MyStyle{
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100vh;
  background-color:rgba(255, 255, 255,0.5);
  z-index: 9999999999;
  
  display: flex;
  justify-content: center;
  align-items: center;
   
  display: none;
  
  }
  
  
.loader_MyStyle {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #833ab4;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
